body{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.masthead{
    color: black;
}


    
